# **-PYTHON-**

What is Python ?

Python is a general-purpose coding language.It can be used for other types of programming and software development besides web development. That includes back end development, software development, data science and writing system scripts among other things.Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. ... Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse.

# **Mode of execution code in Python--**

*   Interpreted Mode
*   Script Mode

# **Data types in 'PYTHON'-**
1> Numeric Types

*   Integer
*   Float

*   Complex

In [ ]:
# Integrer Example
a=6
print(a)

6

In [ ]:
# Float Example
a=22.3435757
print(a)

22.3435757

In [ ]:
# Complex example
a=45j
print(a)

45j




```
# This is formatted as code
```


2> Sequence Types

*   List 
*   Tupple

*   Range

In [ ]:
# List Example
mylist=[1,3,5,6,"Anurag",1.9584588,]
print(mylist)

# To Add values in our list
mylist.append(89)
print(mylist)

# To insert value in our list by place
mylist.insert(3,"Ankit")
print(mylist)

[1, 3, 5, 6, 'Anurag', 1.9584588]
[1, 3, 5, 6, 'Anurag', 1.9584588, 89]
[1, 3, 5, 'Ankit', 6, 'Anurag', 1.9584588, 89]

In [ ]:
# Tuple examples
# To print tupple.
myTuple=(12,14,16,"Anurag",1.732) #Tuple is always prints values from backward
print(myTuple)
# To add element

(12, 14, 16, 'Anurag', 1.732)

3> Mapping Type

*   Dict

In [ ]:
hero={'Diwar':'Amitabh Bachhan','badshah':'shahrukh khan','dilbechara':'SSR'}

print(hero['Diwar'])
print(hero['badshah'])
print(hero['dilbechara'])

Amitabh Bachhan
shahrukh khan
SSR

In [ ]:
# Dict example

4> Set Types

*   Set

*   frozenset

In [ ]:
# Set Example

5> Boolean Type

*   Bool

In [ ]:
# Bool Example
# Every non zero value is always returns true 
myBool=bool(1)
print(myBool)
myBool=bool(0)
print(myBool)

True
False

**What is ID function ?**

Python id() function returns an identity of an object. This is an integer which is guaranteed to be unique. This function takes an argument an object and returns a unique integer number which represents identity. Two objects with non-overlapping lifetimes may have the same id() value.

In [ ]:
#example to check id
a=5
b=5
id(a);id(b)

94044098722432

In [ ]:
a

NameError: ignored



*   List item
*   List item

True
False