# **Looping**--

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

1.   For Loop
     
2.   While Loop

# **For Loop-**

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

**Syntax of for Loop-**

for val in sequence:
	
  Body of for

In [ ]:
# Use of for loop
fruits=["apple","banana","mango"]
for i in fruits:
  print(i,end="")
  print("")

apple
banana
mango

# **While Loop-**

In python, while loop is used to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed. 

**Syntax :**

while expression:
  
   statement(s)

In [ ]:
# Use of while loop
count=0
while count<5:
  count=count+1
  fruits=["apple","mango","banana"]
  print(fruits,end="")
  print("")

['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']

# **What is Range-**

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Syntax

range(start, stop, step)

# **Nested For Loop-**

Loops can be nested in Python, as they can with other programming languages. A nested loop is a loop that occurs within another loop, structurally similar to nested if statements.

1.   For nested Loop
2.   While Nested Loop

In [ ]:
# Program to print * pattern by nested for loop *
                                              # **
                                              # ***
                                              # ****
for i in range(4):
  for j in range(i+1):
    print("*",end="")
  print("")

*
**
***
****

In [ ]:
# Program to print this pattern ****
                              # ***
                              # **
                              # *
for i in range(5,0,-1):
  for j in range(i):
    print("*",end="")
  print("")

*****
****
***
**
*

In [ ]:
# Program to print this pattern 1
                              # 22
                              # 333
                              # 4444
for i in range(5):
  for j in range(i+1):
    print(i+1,end="") 
  print("")

1
22
333
4444
55555

In [ ]:
# Program to print this pattern 4444
                              # 333
                              # 22
                              # 1
for i in range(4,0,-1):
  for j in range(i):
    print(i+1,end="") 
  print("")

5555
444
33
2

In [ ]:
# Program to print this pattern 1
                              # 12
                              # 123
                              # 1234
for i in range(4):
  for j in range(i+1):
    print(j+1,end="")
  print("")

1
12
123
1234

In [ ]:
# Program to print this pattern 1234
                              # 123
                              # 12
                              # 1
for i in range(4,0,-1):
  for j in range(i):
    print(j+1,end="")
  print("")

1234
123
12
1

# **Nested while loop**-

Python programming language allows to use one loop inside another loop. Following section shows few examples to illustrate the concept.

while expression:
 
   while expression:
 
   statement(s)

In [ ]:
i=1
while i<=1:
  j=1
  while j<=i:
    print("*")
    j=j+1
    print("")
  i=i+1

*

*
**
***
****