# ***Operators***--

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

*   Arithmetic operators

*   Comparison operators
*   Logical operators

*   Bitwise operators

*   Assignment operators
*   Membership operator





---

# * Arithmatic operator-









*   "***"	        Exponent - left operand raised to the power of *right*



*   "+"          	Add two operands or unary plus

*   "-"          	Subtract right operand from the left or unary minus

*   "*"          	Multiply two operands
*   "/"          	Divide left operand by the right one


*   "%"	          Modulus - remainder of the division


*   "//"	        Floor division - division that results into whole number

In [ ]:
# Use of exponent  "**"
a=5
b=2
c=a**b
print (c)

25

In [ ]:

# Use of Addition "+"
a=5
b=3
c=a+b
print(c)

8

In [ ]:
# Use of Subtraction "-"

a=45
b=33
c=a-b
print(c)

12

In [ ]:
# Use of multiply "*"
a=6
b=4
c=a*b
print(c)

24

In [ ]:
# Use of devide "/"
a=66
b=5
c=a/b
print(c)

13.2

In [ ]:
# Use of Modulas "%"
a=10
b=4
c=a%b
print(c)

2

In [ ]:
# Use of floor devision "//"
a=10
b=4
c=a//b # It's return only Integer part
print(c)

2

# ***Comparision Operator--**

"=="	Equal	
"!="	Not equal		
'>"  	Greater than	
"<" 	Less than	
">=" 	Greater than or equal to		
"<=" 	Less than or equal to

In [ ]:
# Use of equal to
a=4
b=4
a==b

True

In [ ]:
# Use of Not equal
a=5
b=3
a!=b

True

In [ ]:
# Use of greater than
a=6
b=23
b>a

True

In [ ]:
# Use of Less than
a=44
b=66
a<b

True

In [ ]:
# Use of greater than equal to
a=45
b=45
a>=b
# condtion change but same output
a=23
b=23
a>=b

True

In [ ]:
# Use of less than equal to
a=12
b=12
a<=b
# condtion change but same output
a=13
b=2
b<a

True

## *Logical operator

1> "and"- Returns True if both statements are true

2> "or"- Returns True if one of the statements is true

3> "not"	- Reverse the result

In [ ]:
# Use of "and"
a=5
b=4
c=7
d=3
a>b and c>d # It returns true when both conditions are true

True

In [ ]:
# Use of "OR"
a=23
b=54
c=34
d=8
a<b or c>d # It returns true if one condition is also true

True

In [ ]:
# Use of "Not"
a=2
b=2
c=a==b
not c # It return only opposite statement

False

# **Assignment operator**--

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

In [ ]:
a=5
print(a) # Right side value is assign to left side variable

5

In [ ]:
a=a+5 # It increase right side value and then assign to left side.Working a=a+5 
print(a)                                                                # a=5+5

10

In [ ]:
a=5
a-=2  # It decrease right side value and then assign to left side. Working a-=5
print(a)                                                                # a=5-5

3

In [ ]:
a=5
a=a*6
print(a)

30

# **Bitwise Operator**



*   Bitwise AND    "&"

*   Bitwise OR      "|"
*   Bitwise NOT   "~"


*   Bitwise XOR  "^"

# **Bitwise AND operator:** Returns 1 if both the bits are 1 else 0.
Example: a = 10 = 1010 (Binary)

b = 4 =  0100 (Binary

a & b = 1010 & 0100
      = 0000
      = 0 (Decimal)

In [ ]:
# Use of Bitwise AND 
a=5
b=6
a&b

4

# **Bitwise or operator**: Returns 1 if either of the bit is 1 else 0.
Example:

a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary

a | b = 1010
         |
        0100
      = 1110
      = 14 (Decimal)

In [ ]:
# USe of bitwise OR
a=3
b=2
a|b

3

# **Bitwise not operator:** Returns oneâ€™s compliement of the number.
Example:

a = 10 = 1010 (Binary)

~a = ~1010
  
   = -(1010 + 1)
  
   = -(1011)
  
   = -11 (Decimal)

In [ ]:
# Use of Bitwise Not
a=3
~a

-4

Bitwise xor operator: Returns 1 if one of the bit is 1 and other is 0 else returns false.
Example:

a = 10 = 1010 (Binary)

b = 4 =  0100 (Binary

a & b = 1010  ^ 0100
      = 1110
      = 14 (Decimal)

In [ ]:
#Use of Bitwise XOR
a=6
b=7
a^b

1

# **Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object

*   **"in"** ->  Returns True if a sequence with the specified value is present in the object

*  **" not in "** -> Returns True if a sequence with the specified value is not present in the object

In [ ]:
# Use of "in"
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [ ]:
#  Use of "not in"
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# **Python Identity Operators**


Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location


*   **"is"** -> Returns true if both variables are the same object

*   **"is not"** -> Returns true if both variables are not the same object

In [12]:
# Use of "is"
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [13]:
# Use of "is not"
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False